{% extends 'dashboard/base.html' %}

{% load static %}

{% block title %}Update Topic{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}" class="text-dark">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'posts:topics' %}" class="text-dark">Topics</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update Topic</li>
{% endblock %}

{% block main %}

    <div class="row">
        <section class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'posts:update_topic' topic.slug %}" method="POST" enctype="multipart/form-data" class="form-horizontal form-material mx-2">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error: Please try again!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-12">{{ topic_form.title.label }}</label>
                                <div class="col-md-12">
                                    {{ topic_form.title }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-12">{{ topic_form.description.label }}</label>
                                <div class="col-md-12">
                                    {{ topic_form.description }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-warning text-white text-end">Update Topic</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        {% include 'dashboard/includes/feeds.html' %}
    </div>
    
{% endblock %}