{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords"
            content="blogySocial, blog">
        <meta name="author" content="Maximillian Raphaels">
        <meta name="description"
            content="BlogySocial is an blog application">
        <meta name="robots" content="noindex,nofollow">
        <title>BlogySocial | {% block title %} {% endblock %}</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="#">
        <!-- Styles -->
        <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
        {% block styles %} {% endblock %}

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

        <!-- Scripts -->
        <!-- <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- <script src="{% static 'js/app-style-switcher.js' %}" defer></script> -->
        <script src="{% static 'js/jquery.min.js' %}" defer></script>
        <!-- <script src="{% static 'js/sidebarmenu.js' %}" defer></script> -->
        <script src="{% static 'js/custom.js' %}" defer></script>
        {% block scripts %} {% endblock %}
    </head>

    <body style="font-family: 'Raleway', sans-serif;">
        <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
            data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

            {% include './includes/topnav.html' %}

            {% include './includes/sidenav.html' %}

            <div class="page-wrapper">
                <div class="page-breadcrumb">
                    <div class="row align-items-center">
                        <div class="col-5">
                            <h2 class="page-title fs-4">
                                {% block heading %}
                                {% endblock %}
                            </h2>
                            <div class="d-flex align-items-center">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb fs-5">
                                        {% block breadcrumb %}
                                        {% endblock %}
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="text-end upgrade-btn">
                                <a href="{% url 'pages:index' %}" class="btn btn-danger text-white"
                                    target="_blank">Go To Home Page</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <main class="container-fluid">

                    {% block main %}
                    {% endblock %}

                </main>

                <footer class="footer text-center">
                    &copy; 2023. <a href="{% url 'pages:index' %}" target="_blank" class="text-decoration-none text-danger fw-bold"><span class="text-danger">Blogy<span class="text-dark">Social</span></span</a>.
                </footer>
            </div>
        </div>
    </body>

</html>