{% load static %}

<aside class="left-sidebar" data-sidebarbg="skin6">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <div class="user-profile d-flex no-block dropdown m-t-20">
                        <div class="user-pic">
                            <img src="{% if request.user.photo != 'images/default.png' %}{{ request.user.photo.url }}{% else %}{% static 'images/no-image.png' %}{% endif %}" alt="{{ request.user.name }}"
                                class="object-fit-cover" width="40" height="40" />
                            </div>
                        <div class="user-content hide-menu m-l-10">
                            <a href="#" class="" id="Userdd" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h5 class="m-b-0 user-name font-medium">{{ request.user.name }}</h5>
                                <span class="op-5 user-email">{{ request.user.email }}</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="p-15 m-t-10"><a href="{% url 'posts:add_article' %}"
                        class="btn bg-danger d-block w-100 create-btn text-white no-block d-flex align-items-center"><i
                            class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Add New Article</span> </a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'accounts:dashboard' %}" aria-expanded="false"><i
                            class="mdi mdi-home"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'posts:articles' %}" aria-expanded="false"><i
                            class="mdi mdi-book-open-page-variant"></i><span class="hide-menu">Articles</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'posts:comments' %}" aria-expanded="false"><i
                            class="mdi mdi-tooltip-text"></i><span class="hide-menu">Comments</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'posts:likes' %}" aria-expanded="false"><i
                            class="mdi mdi-emoticon"></i><span class="hide-menu">Likes</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'posts:topics' %}" aria-expanded="false"><i
                            class="mdi mdi-comment"></i><span class="hide-menu">Topics</span></a>
                </li>
                {% if request.user.is_staff %}
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="{% url 'posts:authors' %}" aria-expanded="false"><i
                                class="mdi mdi-account-multiple"></i><span class="hide-menu">Authors</span></a>
                    </li>
                {% endif %}
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{% url 'accounts:profile' %}" aria-expanded="false"><i
                            class="mdi mdi-account"></i><span class="hide-menu">My Profile</span></a>
                </li>
                <li class="text-center p-40 upgrade-btn">
                    <a href="{% url 'accounts:logout' %}"
                        class="btn d-block w-100 btn-danger text-white">
                        <i
                            class="mdi mdi-power"></i>
                        Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>