{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <style>
        .reaction input {
        display: none;
        }

        .reaction {
        /* margin: 50px auto; */
        display: table;
        width: 30px;
        }

        .reaction-input {
            display: flex;
            justify-content: end;
            gap: 1;
            flex-direction: row-reverse;
        }

        .reaction label {
        padding: 10px;
        float: right;
        font-size: 20px;
        color: #eee;
        }

        .reaction label:hover {
            cursor: pointer;
        }

        .reaction input:not(:checked)~label:hover,
        .reaction input:not(:checked)~label:hover~label {
        color: #ffc107;
        }

        .reaction input:checked~label:before {
        color: red !important;
        }
    </style>
{% endblock %}

{% block title %}Article {{ article.title }}{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}
    
    {% block heading %}
        <section class="mb-3 fst-italic border-bottom">
            <h2 class="blog-post-title">
                {{ article.title }}
            </h2>
            <p class="blog-post-meta">{{ article.created_at }} by <a href="#" class="text-danger">{{ article.added_by.name }}</a></p>
        </section>
    {% endblock %}

    {% block main %}

        <section>

            <article class="blog-post">
                <section>
                    <img src="
                        {% if article.image != 'images/default.png' %}
                            {{ article.image.url }}
                        {% else %}
                            
                        {% endif %}
                    " class="object-fit-cover rounded" alt="" width="100%" height="100%">
                </section>

                <section>
                    {{ article.body|safe }}
                </section>

                <section class="comments-likes d-flex justify-content-between mt-5 mb-3 position-relative">
                    <p class="text-danger">
                        {% if comments_count < 2 %}
                            {{ comments_count }} comment
                        {% else %}
                            {{ comments_count }} comments
                        {% endif %}
                        &nbsp;&nbsp;&nbsp; <a href="#comment_form" class="text-danger fw-bold">Add a comment</a>
                    </p>
                    <p class="text-danger">
                        100 reactions 
                        &nbsp;&nbsp;&nbsp; <a id="reaction-emoji" class="text-danger fw-bold">Like 👍</a>
                    </p>

                    <div id="reaction" class="position-absolute d-flex justify-content-end w-100 reaction">
                        <div class="w-75 py-4 card border border-secondary border-rounded bg-white text-center d-flex justify-content-around flex-row gap-2 flex-wrap reaction-input">
                            <!-- <a href="{% url 'pages:reaction_on_article' article.slug %}" style="transform: scale(2);">👍</a>
                            <a style="transform: scale(2);">😍</a>
                            <a style="transform: scale(2);">😂</a>
                            <a style="transform: scale(2);">😮</a>
                            <a style="transform: scale(2);">😡</a>
                            <a style="transform: scale(2);">😢</a> -->
                            <form action="{% url 'pages:reaction_on_article' article.slug %}" method="POST">
                                {% csrf_token %}
                                    <input type="radio" name="rating" id="like" value="like">
                                    <label for="like"style="transform: scale(1.75);">👍
                                    </label>
                            </form>
                            <form action="{% url 'pages:reaction_on_article' article.slug %}" method="POST">
                                {% csrf_token %}
                                    <input type="radio" name="rating" id="love" value="love">
                                    <label for="love"style="transform: scale(1.75);">😍
                                    </label>
                            </form>
                            <form action="{% url 'pages:reaction_on_article' article.slug %}" method="POST">
                                {% csrf_token %}
                                    <input type="radio" name="rating" id="laugh" value="laugh">
                                    <label for="laugh"style="transform: scale(1.75);">😂   
                                    </label>
                            </form>
                            <form action="{% url 'pages:reaction_on_article' article.slug %}" method="POST">
                                {% csrf_token %}
                                    <input type="radio" name="rating" id="surprised" value="surprised">
                                    <label for="surprised"style="transform: scale(1.75);">😮     
                                    </label>
                            </form>
                            <form action="{% url 'pages:reaction_on_article' article.slug %}" method="POST">
                                {% csrf_token %}
                                    <input type="radio" name="rating" id="angry" value="angry">
                                    <label for="angry"style="transform: scale(1.75);">😡    
                                    </label>
                            </form>
                            <form action="{% url 'pages:reaction_on_article' article.slug %}" method="POST">
                                {% csrf_token %}
                                    <input type="radio" name="rating" id="sad" value="sad">
                                    <label for="sad"style="transform: scale(1.75);">😢    
                                    </label>
                            </form>
                        </div>
                    </div>

                    <div class="star-rating">
                        <div class="star-input">
                            
                        </div>
                    </div>
                    
                </section>

                <section id="comment_form" class="comment_form pt-3">
                    <form action="{% url 'pages:article' article.slug %}" method="POST">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error: Please try again!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    {{ comment_form.title }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    {{ comment_form.body }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-danger text-white text-end">Add Comment</button>
                            </div>
                        </div>
                    </form>
                </section>

                <section id="comments" class="comments mt-5">
                    <h3 class="text-danger fs-4 fst-italic text-end border-bottom">Comments</h3>
                    <div class="d-flex flex-column gap-3">
                        {% for comment in comments_belonging_to_article %}
                            <div class="comment fst-italic text-end border-top py-3 d-flex flex-column">
                                <span class="fw-bold">{{ comment.title }}</span>
                                <span>{{ comment.body }}</span>
                                <span class="fs-6">by <a href="{% url 'pages:author' comment.added_by.username %}" class="text-danger">{{ comment.added_by.name }}</a></span>
                                <span>on {{ comment.created_at }}</span>
                            </div>
                            
                        {% empty %}
                            <p class="text-center fs-5 my-4">There are no existing comments yet. <a href="#comment_tab" class="text-danger">Add One</a>.</p>
                        {% endfor %}
                    </div>
                </section>
            </article>

        </section>

    {% endblock %}

{% endblock %}