{% extends 'base.html' %}
{% load static %}

{% block title %}Article {{ article.title }}{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}
    
    {% block heading %}
        <section class="mb-3 fst-italic border-bottom">
            <h2 class="blog-post-title">
                {{ article.title }}
            </h2>
            <p class="blog-post-meta">{{ article.created_at }} by <a href="#" class="text-danger">{{ article.added_by.name }}</a></p>
        </section>
    {% endblock %}

    {% block main %}

        <section>

            <article class="blog-post">
                <section>
                    <img src="
                        {% if article.image != 'images/default.png' %}
                            {{ article.image.url }}
                        {% else %}
                            
                        {% endif %}
                    " class="object-fit-cover rounded" alt="" width="100%" height="100%">
                </section>

                <section>
                    {{ article.body|safe }}
                </section>

                <section class="comments-likes d-flex justify-content-between mt-5">
                    <p class="text-danger">
                        {% if comments_count < 2 %}
                            {{ comments_count }} comment
                        {% else %}
                            {{ comments_count }} comments
                        {% endif %}
                    </p>
                    <p class="text-danger">100 reactions</p>
                </section>

                <section class="my-3 ms-1">
                    <a href="#comment_form" class="text-danger fw-bold">Add a comment</a>
                </section>

                <section id="comment_form" class="comment_form">
                    <form action="{% url 'pages:article' article.slug %}" method="POST">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error: Please try again!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    {{ comment_form.title }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    {{ comment_form.body }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-danger text-white text-end">Add Comment</button>
                            </div>
                        </div>
                    </form>
                </section>

                <section id="comments" class="comments mt-5">
                    <h3 class="text-danger fs-4 fst-italic text-end border-bottom">Comments</h3>
                    <div class="d-flex flex-column gap-3">
                        {% for comment in comments_belonging_to_article %}
                            <div class="comment fst-italic text-end border-top py-3 d-flex flex-column">
                                <span class="fw-bold">{{ comment.title }}</span>
                                <span>{{ comment.body }}</span>
                                <span class="fs-6">by <a href="{% url 'pages:author' comment.added_by.username %}" class="text-danger">{{ comment.added_by.name }}</a></span>
                                <span>on {{ comment.created_at }}</span>
                            </div>
                            
                        {% empty %}
                            <p class="text-center fs-5 my-4">There are no existing comments yet. <a href="#comment_tab" class="text-danger">Add One</a>.</p>
                        {% endfor %}
                    </div>
                </section>
            </article>

        </section>

    {% endblock %}

{% endblock %}