{% extends 'base.html' %}
{% load static %}

{% block title %}Hot Picks{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}
    
    {% block heading %}
        <h2 class="pb-4 mb-4 fst-italic border-bottom">
            Hot Picks
        </h2>
    {% endblock %}


    {% block main %}

        <section>
            {% if hot_articles %}
                {% for article in hot_articles %}
                    <article class="blog-post row mb-4">
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                    <div class=" col p-4 d-flex flex-column position-static">
                                        <strong class="d-inline-block mb-2 text-{{ article.topic.representative_color }}">{{ article.topic.title }}</strong>
                                        <h3 class="mb-2">{{ article.title }}</h3>
                                        <div class="mb-2 text-body-secondary">Nov 11</div>
                                        <p class="mb-2">{{ article.body|safe }}</p>
                                        <a href="#" class="text-decoration-none text-secondary mb-2">by {{ article.added_by.name }}</a>
                                        <a href="{% url 'pages:article' article.slug %}" class="stretched-link text-danger">Continue reading</a>
                                    </div>
                                    <div class="comments-likes d-flex justify-content-between px-4 pb-4">
                                        <a href="{% url 'pages:article' article.slug %}#comments" class="text-danger">
                                            {% if article.comment_set.all.count < 2 %}
                                                {{ article.comment_set.all.count }} comment
                                            {% else %}
                                                {{ article.comment_set.all.count }} comments
                                            {% endif %}
                                        </a>
                                        <a class="text-danger">100 reactions</a>
                                    </div>
                                    <div class="col-auto d-none d-lg-block">
                                        <img src="
                                            {% if article.image != 'images/default.png' %}
                                                {{ article.image.url }}
                                            {% else %}
                                                
                                            {% endif %}
                                        " class="object-fit-cover" alt="" width="100%" height="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                    <p class="text-center fs-5 my-4">There are no trending articles. <a href="{% url 'posts:add_article' %}" class="text-danger">Add One</a>.</p>
            {% endif %}
        </section>

        <section>
            <nav class="blog-pagination" aria-label="Pagination">
                {% if hot_articles.has_previous %}
                    <a href="{% url 'pages:articles_pages' hot_articles.previous_page_number %}" class="btn btn-outline-danger fw-bold rounded-pill">
                        Newer
                    </a>
                {% endif %}
                {% if hot_articles.has_next %}
                    <a href="{% url 'pages:articles_pages' hot_articles.next_page_number %}" class="btn btn-outline-danger fw-bold rounded-pill ms-3">
                        Older
                    </a>
                {% endif %}
            </nav>
        </section>

    {% endblock %}


{% endblock %}